*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Global Stuff */
:root {
    --white: #ffffff;
    --black: #000000;
    --background-color: #aeaeae;
    --primary-color: rgb(255, 255, 50);
}

/* Body Section */
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--black);
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6rem;
}

/* Header Section */
header {
    display: flex;
    flex-direction: row;
    height: 100px;
}

/* Other Styles in the Header */
header li {
    list-style: none;
}

header a {
    text-decoration: none;
}

/* Main Section */
main {
    min-height: calc(100vh - calc(200px));
}

/* Other Styles in the Main */

/* Footer Section */
footer {
    height: 100px;
}