/* Global Stuff */
:root {
  --white: #ffffff;
  --black: #25292b;
  --background-color: #e7e7e7;
  --light-gray: #f1f1f1;
  --dark-gray: #cecece;
  --primary-color: rgb(245, 245, 12);
  --complement-color-dark: #4b44ad;
  --complement-color: #665df5;
  --complement-color-light: #8f88f7;
}

.dash {
  min-height: calc(100vh - calc(120px));
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto;
  grid-template-areas: "aside board board board board board"; */
}

aside {
  /* grid-area: aside; */
  width: fit-content;
  min-height: calc(100vh - calc(120px));
  border-right: solid 3px var(--complement-color);
  display: flex;
  flex-direction: row;
}

#aside-open {
  display: none;
}

aside .side-buttons {
  height: 100%;
  width: fit-content;
  /* width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  background-color: var(--background-color);
  /* overflow-x: hidden; */
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-buttons > img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  margin: 0px 10px 20px 10px;
  border: 1px solid #000;
}

.base-buttons {
  margin: 0 auto;
  padding-bottom: 30px;
}

.side-buttons a {
  display: flex;
  flex-direction: column;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--complement-color);
  /* display: block; */
  transition: 0.3s;
}

.side-buttons a:hover {
  color: var(--complement-color-dark);
}

aside .open-close {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.open-close a {
  text-decoration: none;
  color: #000;
}

.open-close i {
  padding: 0px 5px;
  font-size: x-large;
  cursor: pointer;
}

.board {
  /* grid-area: board; */
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  padding: 30px;
  transition: width 0.5s;
}

.items {
  background-color: var(--dark-gray);
}

.tabs {
  margin-top: 20px;
  height: fit-content;
}

.tabs a {
  text-decoration: none;
  padding: 2px 10px 0px 10px;
  min-width: fit-content;
  max-width: 100px;
  background-color: var(--dark-gray);
  color: var(--black);
  margin-left: 5px;
  border-radius: 5px 5px 0px 0px;
}

.tabs a:hover {
  background-color: rgb(214, 214, 214);
}

/* #user-tasks,
#user-reviews,
#default {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
} */

/* Tab Styles & Functionality */
.items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-top: solid 1px #000;
}
.items div {
  display: none;
}

#default {
  display: block;
}

.items div:target {
  display: block;
}

.items div:target ~ #default {
  display: none;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
}

label {
  padding-bottom: 10px;
}
