<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About JHS Collaborate</title>

    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/scripts/script.js"></script>
</head>
<body>
    <header>
        <h1>TMA</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="landing">

        </section>
        <section id="info">

        </section>
        <section id="contact">

        </section>
    </main>
    <footer>
        <p>JHS Collaborate | Copyright &copy; 2020</p>
    </footer>
</body>
</html>