
{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dash.css') }}">
{% endblock %}

{% block main %}

    <div class="dash">
        <aside>
            <ul>
                <li>View Tasks</li>
                <li>View Reviews</li>
                <li>Settings</li>
            </ul>
        </aside>
        
        <div class="board">
            <h1>User Dashboard</h1>
    
            <div class="tabs">
                <a href="#default">New Task</a>
                <a href="#user-tasks">All Tasks</a>
                <a href="#user-reviews">All Reviews</a>
            </div>

            <div class="items">
                <div id="user-tasks">All Tasks</div>
                <div id="user-reviews">All Reviews</div>
                <div id="default">
                    <form action="{{ url_for('review') }}" method="POST">
                        

                        <fieldset>
                            <label for="review">Review here</label>
                            <input type="text" name="review" id="review">
                        </fieldset>

                        <fieldset>
                            <label for="rate">Rating here</label>
                            <input type="number" name="rate" id="rate">
                        </fieldset>

                        <button type="submit" class="user-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}