
{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dash.css') }}">
{% endblock %}

{% block main %}

    <div class="dash">
        <aside id="dash-aside">
            <div class="side-buttons" id="side-buttons">
                <div class="top-buttons">
                    {% if photo == "plain-user.jpg" %}
                    <img src = "../static/images/plain-user.jpg" alt ="User's Photo">
                    {% else %}
                    <img src = "{{ url_for('get_image', filename= photo) }}" alt ="User's Photo">
                    {% endif %}
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Settings</a>
                </div>
                <div class="base-buttons">
                    <a href="#" class="closebtn" onclick="closeNav()">
                        <i id="aside-close" class="fas fa-angle-double-left"></i>
                    </a>
                </div>
            </div>
            <div class="open-close">
                <a href="#" class="openbtn" onclick="openNav()">
                    <i id="aside-open" class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </aside>
        
        <div class="board" id="board">
            <h1>User Dashboard</h1>
    
            <div class="tabs">
                <script type="text/javascript"> 
                    tasks = {{ tasks|tojson }} 
                    reviews = {{ reviews|tojson }} 
                </script>

                <a href="#default">New Task</a>
                <a href="#user-tasks" onclick="testTasks(tasks)">All Tasks</a>
                <a href="#user-reviews">All Reviews</a>
            </div>

            <div class="items">
                <div id="user-tasks">
                    <h3>All Tasks</h3>
                    <div id="task-section"></div>
                </div>

                <div id="user-reviews">
                    <h3>All Reviews</h3>
                    <div id="review-section"></div>
                </div>
                
                <div id="default">
                    <form action="{{ url_for('dashboard') }}" method="POST">
                        {{ form.csrf_token }}
                        
                        <fieldset>
                            <label for="task-title">Title here</label>
                            {{ form.title(id='task-title', placeholder='Enter Task title') }} 
                        </fieldset>

                        <fieldset>
                            <label for="desc">Description here</label>
                            {{ form.task(id='desc', placeholder='Enter task description') }} 
                        </fieldset>

                        <button type="submit" class="user-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='scripts/dash.js') }}"></script>
{% endblock %}