
{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dash.css') }}">
{% endblock %}

{% block main %}

    <div class="dash">
        <aside id="dash-aside">
            <div class="side-buttons" id="side-buttons">
                <div class="top-buttons">
                    {% if photo == "plain-user.jpg" %}
                    <img src = "../static/images/plain-user.jpg" alt ="User's Photo">
                    {% else %}
                    <img src = "{{ url_for('get_image', filename= photo) }}" alt ="User's Photo">
                    {% endif %}
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Settings</a>
                </div>
                <div class="base-buttons">
                    <a href="#" class="closebtn" onclick="closeNav()">
                        <i id="aside-close" class="fas fa-angle-double-left"></i>
                    </a>
                </div>
            </div>
            <div class="open-close">
                <a href="#" class="openbtn" onclick="openNav()">
                    <i id="aside-open" class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </aside>
        
        <div class="board" id="board">
            <h1>User Dashboard</h1>
    
            <div class="tabs">
                <a href="#" onclick="getDefault()">New Task</a>
                <a href="#" onclick="getTasks()">All Tasks</a>
                <a href="#" onclick="getReviews()">All Reviews</a>
            </div>

            <div class="items">
                <div id="user-tasks">
                    <h3>All Tasks</h3>
                    
                    {% for task in tasks %}
                    <div class='task'>
                        <div class='task-data'>
                            <p class='task-title'>
                                {{ task.title }}
                            </p>
                            <p class='task-body' id="task-text-{{ task.id }}">
                                {{ task.message }}
                            </p>
                            <form id="task-form-{{ task.id }}" class="display-form">
                                <textarea name="task-data" id="task-data-{{ task.id }}" cols="30" rows="10">
                                </textarea>
                            </form>
                        </div>
                        <div class='task-buttons'>
                            <form id="edit-form-{{ task.id }}" class="edit-form" action="{{ url_for('edit_task') }}" method="POST">
                                <input type="text" name="task-edit-{{ task.id }}" id="task-edit-{{ task.id }}" value="{{ task.id }}">
                                <button class='save-edit' id="save-{{ task.id }}" type="submit">Save</button>
                            </form>
                            <button class='edit' id="edit-{{ task.id }}" onclick="editTask('{{ task.id }}', '{{ task.message }}')">Edit</button>

                            <form id="delete-form-{{ task.id }}" class="delete-form" action="{{ url_for('delete_task') }}" method="POST">
                                <input type="text" name="task-delete-{{ task.id }}" id="task-delete-{{ task.id }}" value="{{ task.id }}">
                                <button class='delete' id="delete-{{ task.id }}" type="submit">Delete</button>
                            </form>
                            <button class='cancel-edit' id="cancel-{{ task.id }}" onclick="cancelEdit('{{ task.id }}')">Cancel</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="user-reviews">
                    <h3>All Reviews</h3>
                    {% for review in reviews %}
                    <div class="top-reviews">
                        
                        <div class="review-items">
                            <p class="comment">
                                {{ review.comment }}
                            </p>
                            
                            <div class="ratings">
                                {% for num in range( review.rating ) %}
                                <i class="fas fa-star yellow-stars"></i>
                                {% endfor %}
        
                                {% for num in range( 5 - review.rating ) %}
                                <i class="fas fa-star no-stars"></i>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="user-default">
                    <form action="{{ url_for('dashboard') }}" method="POST">
                        {{ form.csrf_token }}
                        
                        <fieldset>
                            <label for="task-title">Title here</label>
                            {{ form.title(id='task-title', placeholder='Enter Task title') }} 
                        </fieldset>

                        <fieldset>
                            <label for="desc">Description here</label>
                            {{ form.task(id='desc', placeholder='Enter task description') }} 
                        </fieldset>

                        <button type="submit" class="user-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='scripts/dash.js') }}"></script>
{% endblock %}