
{% extends "base.html" %}

{% block css %} {% endblock %}

{% block main %}

    <section class="left">
        <h1>Login</h1>
        <p>Work in progress...</p>

        <hr>
    </section>

    <section class="right">
        <form action="{{ url_for('login') }}" method="POST">
            {{ form.csrf_token }}

            <h3>Login</h3>
    
            <div class="input-pair">
    
                <label for="email">Email Address</label>
                {{ form.email(id='email', placeholder='Enter email') }}
    
            </div>
    
            <div class="input-pair">
    
                <label for="password">Password</label>
                {{ form.password(id='password', placeholder='Enter password') }}
    
            </div>
    
            <br />
    
            <button type="submit" class="user-btn">Login</button>
    
        </form>
    </section>

{% endblock %}