
{% extends "base.html" %}

{% block css %} {% endblock %}

{% block main %}

    <section class="left">
        <h1>Sign Up / Register</h1>
        <p>Work in progress...</p>

        <hr>
    </section>

    <section class="right">
        <form action="{{ url_for('signup') }}" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <h3>Sign Up</h3>
    
            <fieldset>
                <div class="input-pair">
    
                    <label for="firstName">First Name</label>
                    {{ form.first_name(id='firstName', placeholder='Enter first name') }} 
                
                </div>
        
                <div class="input-pair">
        
                    <label for="lastName">Last Name</label>
                    {{ form.last_name(id='lastName', placeholder='Enter last name') }}
                
                </div>
            </fieldset>

            <div class="input-pair">
    
                <label for="email">Email Address</label>
                {{ form.email(id='email', placeholder='Enter email') }}
    
            </div>
    
            <fieldset>
                <div class="input-pair">
    
                    <label for="password-1">Password</label>
                    {{ form.password1(id='password-1', placeholder='Enter password') }}
        
                </div>
        
                <div class="input-pair">
        
                    <label for="password-2">Password (Confirm)</label>
                    {{ form.password2(id='password-2', placeholder='Confirm password') }}
        
                </div>
            </fieldset>
    
            <br />
    
            <button type="submit" class="user-btn">Submit</button>
        </form>
    </section>

{% endblock %}