<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="../static/css/review.css">
    <script src="https://kit.fontawesome.com/238a67abd4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-reviews">
        <img src="../static/images/plain-user.jpg" alt="">
        <div class="review-items">
            <p class="name">{{ review.user_name }}</p>
            <p class="comment">
                {{ review.comment }}
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero nobis, incidunt nulla necessitatibus sed impedit tempore error repellat dicta consequuntur delectus itaque rerum doloremque repudiandae in temporibus iure voluptatum maiores.
            </p>

            <div class="ratings">
                <i class="fas fa-star yellow-stars"></i>
                <i class="fas fa-star yellow-stars"></i>
                <i class="fas fa-star yellow-stars"></i>
                <i class="fas fa-star no-stars"></i>
                <i class="fas fa-star no-stars"></i>
            </div>
        </div>
    </div>

    <div class="add">
        
        
        <form id="home-review" action="{{ url_for('home') }}" method="POST">
            <!-- {{ form.csrf_token }} -->

            <fieldset>
                <label for="comment">Review here</label>
                <!-- <input type="text" id="comment"> -->
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                <!-- {{ form.comment(id='comment', autocomplete="off", placeholder='Enter comment') }} -->
            </fieldset>

            <fieldset>
                <label for="rate">Rating here</label>
                <input type="number" id="rate" min='1' max='5'>
                <!-- {{ form.rating(id='rate', min='1', max='5') }} -->
            </fieldset>

            <button type="submit" class="user-btn">Submit</button>
        </form>
        <a href="#home-review" class="add-form">Add a Review</a>
        <a href="#" class="cancel">Cancel</a>
    </div>
</body>
</html>